<div style="
    width: 50%;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
    ">
  <h1>Welcome To Railz Lite!</h1>

  <img src="../public/winter_fox_large.jpg" />

  <h3>For guidelines on how to build an app with this framework see <a href="https://github.com/bryanqb07/railz_lite">here</a>.</h3>
</div>
