<!DOCTYPE html>
<html>
  <head>
    <title>Trash Films</title>
    <link rel="stylesheet" href="assets/application.css">
  </head>
  <body>
    <a class="pl-16" href="/">Home</a>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
